body{
    font-family: 'Press Start 2P';
    font-size: smaller;
    line-height: 1.1ch;
}
#home #search-sort-filter-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

#home .icon-container{
    padding: 12px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    transition: .33s;
    border-radius: 10px;
}

#home .icon-container:hover{
    background-color: #ffebeb;
}

#home .icon-container img{
    /* border: solid black 1px; */
    width: 50px;
    margin:10px;
}

#home #list {
    /* border: solid black 1px; */
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(11rem, 1fr));
    gap: 1rem;
    padding: 0px 1rem;
    margin: 0 auto;
}

#home .card {
    background: #f7f7f7;
    border: solid rgba(0, 0, 0, 0.1) 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px;
    border-width: 2px;
    border-color: #f7f7f7;
    cursor: pointer;
    transition: .33s;
    padding: 1rem 0rem;
}


#home .card:hover {
    border-color: rgb(226, 205, 11);
    transform: scale(1.05);
    box-shadow: rgb(226, 205, 11) 0px 0px 5px 0px;

}

#home .thumbnail {
    /* border: solid black 1px; */
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

#home .details {
    /* border: solid black 1px; */
    padding:10px;
    font-size: .8em;
}

#home .details div{
    padding:5px;
}

.active{
    color:rgb(255, 147, 147);
    text-decoration: underline;
}

.active.all{
    color: rgb(122, 121, 121);
}

.active.fire{
    color: rgb(252, 101, 101);
}

.active.grass{
    color: rgb(110, 212, 110);
}

.active.electric{
    color: rgb(165, 165, 0);
}

.active.water{
    color: rgb(91, 91, 255);
}

.active.bug{
    color: rgb(116, 156, 116);
}