body{
    font-family: 'Press Start 2P';
    font-size: smaller;
    line-height: 1.1ch;
}
#home #search-sort-filter-container{
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(12rem,1fr));
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem;
    height: 4rem;
    overflow: auto;
}

#home .icon-container{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    cursor: pointer;
    transition: .33s;
    padding: .3rem .6rem;
}

#home .icon-container:hover{
    background-color: #ffebeb;
}

#home .icon-container img{
    width: 30px;
}

#home #list {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    padding: 0px 1rem;
    margin: 0 auto;
}

.small{
    font-size: xx-small;
}

.large{
    text-align: center;
    font-size: larger;
    padding: 1rem 1rem;
}

#home .card {
    background: #f7f7f7;
    border: solid rgba(0, 0, 0, 0.1) 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px;
    border-width: 2px;
    border-color: #f7f7f7;
    cursor: pointer;
    transition: .33s;
    padding: 1rem 0rem;
}


#home .card:hover {
    border-color: rgb(226, 205, 11);
    transform: scale(1.05);
    box-shadow: rgb(226, 205, 11) 0px 0px 5px 0px;

}

#home .thumbnail {
    /* border: solid black 1px; */
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

#home .details {
    /* border: solid black 1px; */
    padding:10px;
    font-size: .8em;
}

#home .details div{
    padding:5px;
}

.active{
    color:rgb(255, 147, 147);
    text-decoration: underline;
}

.active.all{
    color: rgb(122, 121, 121);
}

.active.fire{
    color: rgb(252, 101, 101);
}

.active.grass{
    color: rgb(110, 212, 110);
}

.active.electric{
    color: rgb(165, 165, 0);
}

.active.water{
    color: rgb(91, 91, 255);
}

.active.bug{
    color: rgb(116, 156, 116);
}