body {
  font-family: "Press Start 2P";
  font-size: x-small;
}

/* *{
  border: red 1px solid;
} */

.stats-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* column-gap: 1rem; */
  /* row-gap: .8rem; */
}

.stats-grid *:nth-child(2n){
  text-align: start;
  column-width: 4ch;
}

.stats-grid *{
  padding: .4rem 0rem;
  margin: 0px;
  text-align: start;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border: none;
}

.btn-delete {
  border: rgba(250, 17, 17, 0.26) 1px solid;
}

.btn-edit {
  border: rgba(0, 0, 0, 0.26) 1px solid;
}

.btn-delete:hover {
  background-color: rgba(250, 17, 17, 0.26);
  transition: 250ms;
}

.btn-edit:hover {
  background-color: rgba(0, 0, 0, 0.26);
  transition: 250ms;
}

.card {
  background: #f5f5f5;
  padding: 1rem 4rem;
  margin: 8rem 2rem;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 6px 1px;
}

h4 {
  padding: 1rem 0rem;
  border-bottom: rgb(182, 182, 182) 2px dashed;
}

h4 + div {
  max-height: 200px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem 2rem;
}

.card-grid > * {
  padding: 0px;
  margin: 0px;
  flex-grow: 1;
  min-width: 4rem
}

.card-grid > * > * > *:hover {
  transition: 100ms;
  color: rgb(184, 172, 13);
  cursor: pointer;
  background-color: rgba(126, 120, 9, 0.151);
}

.moves-grid {
  text-align: start;
  display: grid;
  gap: 0.6rem 0.6rem;
  grid-template-columns: repeat(auto-fill, minmax(12ch, 1fr));
  overflow-x: auto;
  margin-bottom: 2rem;
}

.moves-grid > *:hover {
  color: rgb(138, 129, 12);
  cursor: pointer;
  background-color: rgba(179, 168, 13, 0.151);
}

.moves-grid p {
  padding: 0px;
  margin: 0px;
}

.img {
  object-fit: contain;
  max-height: 18rem;
  width: 100%;
  margin: 0rem;
  border-radius: 1rem;
  border: rgba(0, 0, 0, 0.096) 1px solid;
  padding: 1rem 0rem;
}

.img:hover {
  background-color: aliceblue;
  box-shadow: rgba(121, 121, 121, 0.205) 1px 1px 10px 1px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  align-items: center;
  justify-content: start;
  gap: 2rem 50rem;
}

@media only screen and (max-width: 640px) {
  header {
    width: 100%;
    text-align: center;
  }
}

#search-sort-filter-container{
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(12rem,1fr));
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem;
    height: 4rem;
    overflow: auto;
}

.icon-container{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    cursor: pointer;
    transition: .33s;
    padding: .3rem .6rem;
}

.icon-container:hover{
    background-color: #ffebeb;
}

.icon-container img{
    width: 30px;
}

 #list {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    padding: 0px 1rem;
    margin: 0 auto;
}