body{
    font-family: 'Press Start 2P';
    font-size: x-small;
}

.card{
    background: #ebebeb;
    text-align: center;
    padding: 1rem 4rem;
    margin: 4rem 2rem;
    border: rgba(0, 0, 0, 0.3) 1px solid;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.123) 0px 0px 10px 1px;

}

.card-grid{
    text-align: start;
    display: grid;
    grid-template-columns:repeat( auto-fit, minmax(10rem, 1fr));
    gap: 0rem 2rem;
}

.card-grid > *{
    border-bottom: rgb(182, 182, 182) 1px dashed;
    padding: 0px;
    margin: 0px;
    min-width: max-content;

}

.moves-grid{
    text-align: start;
    display: grid;
    gap: .6rem .6rem;
    grid-template-columns: repeat( auto-fill, minmax(12ch, 1fr));
    overflow-x:auto;
}

.moves-grid p {
    padding: 0px;
    margin: 0px;
}

.img{
    width: 150px;
}