body {
  font-family: "Press Start 2P";
  font-size: x-small;
}

.card {
  background: #ebebeb;
  padding: 1rem 4rem;
  margin: 4rem 2rem;
  border: rgba(0, 0, 0, 0.3) 1px solid;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.123) 0px 0px 10px 1px;
}

h4 {
  padding: 1rem 0rem;
  border-bottom: rgb(182, 182, 182) 2px dashed;
}

h4 + div {
max-height: 200px;
}

.card-grid {
  text-align: start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 0rem 2rem;
  padding-bottom: 1rem;
}

.card-grid > * {
  padding: 0px;
  margin: 0px;
  min-width: max-content;
}

.card-grid > * > * > *:hover {
    transition: 100ms;
  color: rgb(138, 129, 12);
  cursor: pointer;
  background-color: rgba(179, 168, 13, 0.151);
}

.moves-grid {
  text-align: start;
  display: grid;
  gap: 0.6rem 0.6rem;
  grid-template-columns: repeat(auto-fill, minmax(12ch, 1fr));
  overflow-x: auto;
  margin-bottom: 2rem;
}

.moves-grid > *:hover {
  color: rgb(138, 129, 12);
  cursor: pointer;
  background-color: rgba(179, 168, 13, 0.151);
}

.moves-grid p {
  padding: 0px;
  margin: 0px;
}

.img {
  object-fit: contain;
  width: 100%;
  max-height: 18rem;
  gap: 5rem;
  object-position: top;
  grid-template-rows: max-content;
}

.grid {
  grid-template-columns: 1fr 1fr;
  display: grid;
  text-align: start;
  align-items: center;
}
